/*
generic styles applied to any panorama
must be ul/li 
*/
.ng-panorama-container {
  overflow: hidden;
}
ul.ng-panorama-slides {
  position: relative;
  white-space: nowrap;
  overflow: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 0;
  margin: 0;
}
ul.ng-panorama-slides > li {
  white-space: normal;
  vertical-align:top;
  display: inline-block;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.ng-panorama-animate {
  -webkit-transition: -webkit-transform .1s ease-out;
  -moz-transition: -moz-transform .1s ease-out;
  transition: transform .1s ease-out;
}
.ng-panorama-noanimate {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.ng-panorama-indicator {
  width: 100%;
  text-align:center;
  position:relative;
  bottom: 20px;
  height:20px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}
.ng-panorama-indicator span {
  padding: 0 5px;
  color: #333;
  transition: color .2s ease-out;
}
.ng-panorama-indicator span.active {
  color:white;
}
